{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- assign social_media_count = 0 -%}

{%- capture social_media_1 -%}
  {%- if settings.social_facebook != blank -%}
    <li class="HorizontalList__Item">
      <a href="{{ settings.social_facebook }}" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Facebook">
        <span class="Icon-Wrapper--clickable">{%- include 'icon' with 'facebooknew' -%}</span>
      </a>
    </li>

    {% assign social_media_count = social_media_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_instagram != blank -%}
    <li class="HorizontalList__Item">
      <a href="{{ settings.social_instagram }}" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Instagram">
        <span class="Icon-Wrapper--clickable">{%- include 'icon' with 'instagramnew' -%}</span>
      </a>
    </li>

    {% assign social_media_count = social_media_count | plus: 1 %}
  {%- endif -%}
{%- endcapture -%}

{%- capture social_media_2 -%}
  {%- if settings.social_youtube != blank -%}
    <li class="HorizontalList__Item">
      <a href="{{ settings.social_youtube }}" class="Link Link--primary" target="_blank" rel="noopener" aria-label="YouTube">
        <span class="Icon-Wrapper--clickable">{%- include 'icon' with 'youtubenew' -%}</span>
      </a>
    </li>

    {% assign social_media_count = social_media_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_line != blank -%}
    <li class="HorizontalList__Item">
      <a href="{{ settings.social_line }}" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Line">
        <span class="Icon-Wrapper--clickable">{%- include 'icon' with 'linenew' -%}</span>
      </a>
    </li>

    {% assign social_media_count = social_media_count | plus: 1 %}
  {%- endif -%}
{%- endcapture -%}

{%- assign spacing_to_use = spacing -%}

{%- if spacing == 'large' and social_media_count > 6 -%}
  {%- assign spacing_to_use = 'small' -%}
{%- endif -%}

{%- if social_media_count > 0 -%}
  <ul class="HorizontalList {% if spacing %}HorizontalList--spacing{{ spacing | capitalize }}{% endif %}">
    {{ social_media_1 }}
  </ul>
  <ul class="HorizontalList {% if spacing %}HorizontalList--spacing{{ spacing | capitalize }}{% endif %}">
    {{ social_media_2 }}
  </ul>
{%- endif -%}