<div class="popup-page" id="table-size">
	<div class="page-width">
	<div class="grid">
		<div class="grid__item col-8">
			<div class="popup-content">
				<span class="icon-close"></span>
				<div class="popup-content-wrap">
					<div class="popup-content-inner">
						
						<h2 class="h4 text-center">{{'general.size_table.size_chart' | t }}</h2>

						<div class="p-small text-center">{{'general.size_table.title_html' | t }}</div>
						<div class="tab">
					  		<button class="tablinks p-xsmall active" data-tab="wired_bra">{{'general.size_table.wired' | t }}</button>
					  		<button class="tablinks p-xsmall" data-tab="unwired-tab">{{'general.size_table.non_wired' | t }}</button>
					  		<button class="tablinks p-xsmall" data-tab="body-tab">{{'general.size_table.body' | t }}</button>
					  		<button class="tablinks p-xsmall" data-tab="bottoms">{{'general.size_table.panty' | t }}</button>
						</div>
						<div class="content-size">
							<div class="tabs-content">
							<div id="wired_bra" class="tabcontent" style="display: block;" >
								<div class="p-xsmall">
									{{'general.size_table.alternatively_html' | t }}
								</div>
								<div class="h7 text-center">{{'general.size_table.under' | t }}</div>
								<div class="table-size h8 text-center first-table">
									<table>
										<thead>
											<tr>
												<th>70</th>
												<th>75</th>
												<th>80</th>
												<th>85</th>
												<th>90</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>68 - 72</td>
												<td>73 - 77</td>
												<td>78 - 82</td>
												<td>83 - 87</td>
												<td>88 - 92</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="h7 text-center">{{'general.size_table.cup_size' | t }}</div>
								<div class="table-size h8 text-center second-table">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>A</th>
												<th>B</th>
												<th>C</th>
												<th>D</th>
												<th>E</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>70</th>
												<td>82 - 83</td>
												<td>84 - 85</td>
												<td>86 - 87</td>
												<td>88 - 90</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<th>75</th>
												<td>87 - 88</td>
												<td>89 - 90</td>
												<td>91 - 92</td>
												<td>93 - 94</td>
												<td>95 - 97</td>
												
											</tr>
											<tr>
												<th>80</th>
												<td>92 - 93</td>
												<td>94 - 95</td>
												<td>96 - 97</td>
												<td>98 - 99</td>
												<td>100 - 102</td>
											</tr>
											<tr>
												<th>85</th>
												<td></td>
												<td>99 - 100</td>
												<td>101 - 102</td>
												<td>103 - 104</td>
												<td>105 - 107</td>
											</tr>
											<tr>
												<th>90</th>
												<td></td>
												<td></td>
												<td>106 - 107</td>
												<td>108 - 109</td>
												<td>110 - 112</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>
							<div id="unwired-tab" class="tabcontent" >
								<div class="p-xsmall">
									{{'general.size_table.used' | t }}
								</div>
								<div class="table-size h8 text-center">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>A</th>
												<th>B</th>
												<th>C</th>
												<th>D</th>
												<th>E</th>
											</tr>
										</thead>
										<tbody>
											
											<tr>
												<th>70</th>
												<td class="XS">XS</td>
												<td class="S">S</td>
												<td class="M">M</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
											</tr>
											<tr>
												<th>75</th>
												<td class="S">S</td>
												<td class="M">M</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
												<td class="XL">XL/2XL</td>
											</tr>
											<tr>
												<th>80</th>
												<td class="M">M</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
												<td class="XXL">2XL</td>
												<td class="XXL">2XL</td>
											</tr>
											<tr>
												<th>85</th>
												<td class="L">L</td>
												<td class="XL">XL</td>
												<td class="XXL">2XL</td>
												<td class="XXL">2XL</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<th>90</th>
												<td class="XL">XL</td>
												<td class="XXL">2XL</td>
												<td class="XXL">2XL</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
											</tr>
											

										</tbody>
									</table>
								</div>
							</div>
							<div id="body-tab" class="tabcontent" >
								<div class="table-size h8 text-center">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>A</th>
												<th>B</th>
												<th>C</th>
												<th>D</th>
												<th>E</th>
											</tr>
										</thead>
										<tbody>
											
											<tr>
												<th>70</th>
												<td class="XS">XS</td>
												<td class="S">S</td>
												<td class="M">M</td>
												<td class="M">M</td>
												<td class="L">L</td>
											</tr>
											<tr>
												<th>75</th>
												<td class="S">S</td>
												<td class="M">M</td>
												<td class="M">M</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
											</tr>
											<tr>
												<th>80</th>
												<td class="M">M</td>
												<td class="M">M</td>
												<td class="L">l</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
											</tr>
											<tr>
												<th>85</th>
												<td >&nbsp;</td>
												<td class="L">L</td>
												<td class="L">L</td>
												<td class="XL">XL</td>
												<td class="XXL">2XL</td>
											</tr>
											<tr>
												<th>90</th>
												<td >&nbsp;</td>
												<td >&nbsp;</td>
												<td class="XL">XL</td>
												<td class="XXL">2XL</td>
												<td class="XXL">2XL</td>
											</tr>
											

										</tbody>
									</table>
								</div>
							</div>
							<div id="bottoms" class="tabcontent" >
								<div class="table-size h8 text-center">
									<table>
										<thead>
											<tr>
												<th></th>
												<th>{{'general.size_table.hips' | t }}</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>XS</th>
												<td>86 - 90</td>
											</tr>
											<tr>
												<th>S</th>
												<td>91 - 95</td>
												
											</tr>
											<tr>
												<th>M</th>
												<td>96 - 100</td>
												
											</tr>
											<tr>
												<th>L</th>
												<td>101 - 105</td>
												
											</tr>
											<tr>
												<th>XL</th>
												<td>106 - 112</td>
												
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>