<script src="{{ 'custom-wishlist.js' | asset_url }}" defer="defer"></script>
<div class="page-width grid-flex grid-flex-account">
  <div class="grid">
    <div class="grid__item col-8 col-md-8 col-small-6">
      <div class="CustomerLoginForm myaccountPage">
        <div class="section-header text-center form-vertical">
          <h1 class="h2">{{ 'customer.account.title' | t }}</h1>
          <p>{{ 'layout.customer.log_out' | t | customer_logout_link }}</p>
        </div>
        <!-- end header -->
        <div class="myaccount">
            <div class="tab">
              <button class="tablinks p-xsmall active" data-tab="myaccount__order-history">{{ 'customer.orders.title' | t }}</button>
              <button class="tablinks p-xsmall" data-tab="myaccount__account-details">{{ 'customer.account.details' | t }}</button>
              <button class="tablinks p-xsmall" data-tab="myaccount__account-wishlist">{{ 'customer.account.wishlist' | t }}</button>
            </div>
            <div class="tabs-content">
              <div class="myaccount__order-history tabcontent" id="myaccount__order-history" style="display: block;">
                  <div class="myaccount__order-history_detail">
                    <div class="d-flex">
                        <div>
                            <h2 class="h4">{{ 'customer.order.title' | t: name: order.name }}</h2>
                            {%- assign order_date = order.created_at | time_tag: "%M %d, %Y" -%}
                            <p class="p-medium">{{ 'customer.order.date_html' | t: date: order_date }}</p>
                            {%- if order.cancelled -%}
                                <div class="order--cancelled">
                                    {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
                                    <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
                                    <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
                                </div>
                            {%- endif -%}
                        </div>
                        <a class="btn_light_second_outline" href="https://returns.scandale.com/" target="_blank">{{ 'customer.account.retuns' | t }}</a>
                    </div>

                    <table class="order-table">
                        <tbody>
                            {%- for line_item in order.line_items -%}
                            {% assign item = line_item %}
                            <tr id="{{ line_item.key }}">
                                <th class="order-table__product" scope="row" data-label="{{ 'customer.order.product' | t }}">
                                    <div class="d-flex grid">
                                        <div class="item-image-container grid__item">
                                            {{ line_item.image | img_url: '87x109' | img_tag }}
                                        </div>
                                        <div class="item-info grid__item">
                                            <div class="product-title h8">
                                                <a href="{{ item.url }}" class="cart__product-title h8">
                                                  {{ item.product.title }}
                                                </a>
                                            </div>
                                            {%- assign variant_options = 'template ' | split: ' ' -%}
                                            {%- if item.product.has_only_default_variant != true -%}
                                                {%- assign variant_options = item.options_with_values -%}
                                            {%- endif -%}
                                            {%- assign property_size = line_item.properties | size -%}
                                            <ul class="product-detail p-xsmall">
                                                {% assign sizeOptions = '' %}
                                                {%- for option in variant_options -%}
                                                    {% assign optionName = option.name | downcase %}
                                                    {% if optionName  contains 'size' %}
                                                        {% assign checkHasSize = false  %}
                                                        {% assign optionValues = option.value | split: '/' %}
                                                        {% assign optionValuesHTML = '' %}
                                                        {% if optionValues.size > 1 %}
                                                            {% for op in optionValues %}
                                                                {% if op != '0' %}
                                                                    {% capture myOp %}
                                                                        <span class="lang_{{ forloop.index}}">{{ op }}</span>
                                                                    {% endcapture %}
                                                                    {% assign optionValuesHTML = optionValuesHTML | append: myOp %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% assign sizeOptions = sizeOptions | append: ',' | append:  optionValuesHTML %}
                                                        {% else %}
                                                            {% assign sizeOptions = sizeOptions | append: ',' | append:  option.value %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% unless optionName  contains 'size' %}
                                                        <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option><span>{{ option.name }}</span><span>{{ option.value }}</span></li>
                                                    {% endunless %}
                                                {%- endfor -%}
                                                {% if sizeOptions != '' %}
                                                    <li class="product-details__item product-details__item--variant-option"><span>size</span><span> {{ sizeOptions | split: ',' | join: '' }}</span></li>
                                                {% endif %}
                                                <li class="product-details__item product-details__item--variant-option">
                                                    <span>{{ 'customer.order.quantity' | t }} </span><span>{{ line_item.quantity }}</span>
                                                </li>
                                            </ul>
                                            {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                                                <div class="item-props">
                                                {% unless line_item.selling_plan_allocation == nil  %}
                                                    <span class="item-props__property">
                                                        {{ line_item.selling_plan_allocation.selling_plan.name }}
                                                    </span>
                                                {% endunless %}
                                                {% if property_size != 0 %}
                                                    {% for property in line_item.properties %}
                                                        {% assign property_first_char = property.first | slice: 0 %}
                                                        {% if property.last != blank and property_first_char != '_' %}
                                                            <span class="item-props__property">
                                                                {{ property.first }}:&nbsp;
                                                                {%- if property.last contains '/uploads/' -%}
                                                                    <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                                                {%- else -%}
                                                                    {{ property.last }}
                                                                {%- endif -%}
                                                            </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                </div>
                                            {% endunless %}
                                            {%- if line_item.line_level_discount_allocations != blank -%}
                                                <ul class="order-discount order-discount--list order-discount--title" aria-label="{{ 'customer.order.discount' | t }}">
                                                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                                                        <li class="order-discount__item">
                                                        {% include 'icon-saletag' %}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money_without_trailing_zeros }})
                                                    </li>
                                                {%- endfor -%}
                                                </ul>
                                            {%- endif -%}
                                      
                                            {%- if line_item.fulfillment -%}
                                                <div class="note">
                                                    {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                                                    {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
                                                    <div>
                                                        {%- if line_item.fulfillment.tracking_url -%}
                                                            <a href="{{ line_item.fulfillment.tracking_url }}">
                                                            {{ 'customer.order.track_shipment' | t }}
                                                            </a>
                                                        {%- endif -%}
                                                        <div>
                                                            {{ line_item.fulfillment.tracking_company }}
                                                            {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                                                        </div>
                                                    </div>
                                                </div>
                                            {%- endif -%}
                                            
                                        </div>
                                    </div>
                                </th>
                                <td class="text-right" data-label="{{ 'customer.order.total' | t }}">
                                    {%- if line_item.original_line_price != line_item.final_line_price -%}
                                        <dl class="h6">
                                            <dt>
                                                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                            </dt>
                                            <dd>
                                                <s>{{ line_item.original_line_price | money_without_trailing_zeros }}</s>
                                            </dd>
                                            <dt>
                                                <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                                            </dt>
                                            <dd>
                                                <span class="order-discount">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
                                            </dd>
                                        </dl>
                                    {%- else -%}
                                    <div class="h6">
                                        {{ line_item.original_line_price | money_without_trailing_zeros }}
                                    </div>
                                    {%- endif -%}
                                </td>
                            </tr>
                          {%- endfor -%}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th class="p-medium"  scope="row">{{ 'customer.order.subtotal' | t }}</th>
                            <td class="text-right h6" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money_without_trailing_zeros }}</td>
                          </tr>

                          {%- if order.cart_level_discount_applications != blank -%}
                            <tr>
                              {%- for discount_application in order.cart_level_discount_applications -%}
                                <th class="p-medium" scope="row">
                                  {{ 'customer.order.discount' | t }}
                                  <span class="order-discount order-discount--title cl-grey">
                                    ({{- discount_application.title -}})
                                  </span>
                                </th>
                                <td class="text-right" data-label="{{ 'customer.order.discount' | t }}">
                                  <div class="order-discount-wrapper">
                                    <span class="order-discount order-discount--title text-left medium-up--hide">
                                      {% include 'icon-saletag' %}{{- discount_application.title -}}
                                    </span>
                                    <span class="order-discount h6">-{{ discount_application.total_allocated_amount | money_without_trailing_zeros }}</span>
                                  </div>
                                </td>
                              {%- endfor -%}
                            </tr>
                          {%- endif -%}

                          {%- for shipping_method in order.shipping_methods -%}
                            <tr>
                              <th class="p-medium" scope="row" >{{ 'customer.order.shipping' | t }} <span class="cl-grey">({{ shipping_method.title }})</span></th>
                              <td class="text-right h6" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money_without_trailing_zeros }}</td>
                            </tr>
                          {%- endfor -%}

                          {%- for tax_line in order.tax_lines -%}
                            <tr>
                              <th  class="p-medium" scope="row" >{{ 'customer.order.tax' | t }} <span class="cl-grey">({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span></th>
                              <td class="text-right h6" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money_without_trailing_zeros }}</td>
                            </tr>
                          {%- endfor -%}

                          <tr>
                            <th class="p-medium" scope="row">{{ 'customer.order.total' | t }}</th>
                            <td class="text-right h4" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_without_trailing_zeros }}</td>
                          </tr>
                        </tfoot>
                      </table>
                  </div>
                  <div class="myaccount__account-details">
                      <h3 class="h4">{{ 'customer.order.payment_title' | t }}</h3>
                      <div class="p-large p-detail">
                        {{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}<br />
                        {% assign transactions = order.transactions %}
                        {% if transactions.size > 0 %}
                            {% for transaction in transactions %}
                            payment method: {{ transaction.gateway  }}
                            {% endfor %}
                        {% endif %}
                      </div>
                        <h3 class="h4">{{ 'customer.order.billing_address' | t }}</h3>
                        <div class="p-large p-detail">
                          {{ order.billing_address | format_address }}
                        </div>

                        <h3 class="h4">{{ 'customer.order.shipping_address' | t }}</h3>
                        <div class="p-large p-detail">
                          <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

                          {{ order.shipping_address | format_address }}
                        </div>
                  </div>
              </div>
              <div class="myaccount__account-details tabcontent" id="myaccount__account-details">
                {% include 'account_address' %}
              </div>
              <div class="myaccount__account-details tabcontent" id="myaccount__account-wishlist">
                <div class="my-wishlist"><div id="wishlistList" class="grid"></div></div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
