<div class="page-width grid-flex">
  <div class="grid">
    <div class="grid__item col-8 col-md-6 col-small-6">

      <div  class="form-vertical CustomerLoginForm">

        <h1 class="text-center h2">{{ 'customer.register.title' | t }}</h1>

        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
           <div class='oxi-social-login'></div>
           <div id="form_register">
            {% include 'form-status', form: form, form_id: formId %}
            <div class="register-field">
              <div class="register-field-inner">
                <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
                <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name" placeholder="{{ 'customer.register.first_name' | t }}" required>
              </div>
              <span class="input-error-message">
                {% include 'icon-errors' %} 
                <span class="input-error-message">{{ 'general.accessibility.error' | t }}</span>
              </span>
            </div>
            <div class="register-field">
              <div class="register-field-inner">
            <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name" placeholder="{{ 'customer.register.last_name' | t }}" required>
            </div>
              <span class="input-error-message">
                {% include 'icon-errors' %}    
                <span class="input-error-message">{{ 'general.accessibility.error' | t }}</span>
              </span>
             </div>
            <div class="register-field">
                <div class="register-field-inner">
                  <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
                  <input
                    placeholder="{{ 'customer.register.email' | t }}"
                    type="email"
                    name="customer[email]"
                    id="{{ formId }}-email"
                    class="{% if form.errors contains 'email' %} input--error{% endif %}"
                    {% if form.email %} value="{{ form.email }}"{% endif %}
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    aria-required="true"
                    {%- if form.errors contains 'email' -%}
                      class="input--error"
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                    {%- endif -%}
                  >
                </div>
                    <span class="input-error-message">
                        {% include 'icon-errors' %} 
                        <span class="input-error-message">{{ 'general.accessibility.error' | t }}</span>
                    </span>
                   {%- if form.errors contains 'email' -%}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {%- endif -%}
            </div>    
           
            <div class="register-field">
                <div class="register-field-inner">
                    <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
                    <input
                      placeholder="{{ 'customer.register.password' | t }}"
                      type="password"
                      name="customer[password]"
                      id="{{ formId }}-password"
                      class="{% if form.errors contains 'password' %} input--error{% endif %}"
                      aria-required="true"
                      {%- if form.errors contains 'password' -%}
                        class="input--error"
                        aria-invalid="true"
                        aria-describedby="{{ formId }}-password-error"
                      {%- endif -%}
                    >
                    {%- if form.errors contains 'password' -%}
                      <span id="{{ formId}}-password-error" class="input-error-message">
                        {% include 'icon-error' %}
                        <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
                      </span>
                    {%- endif -%}
                </div>
                <span class="input-error-message">
                    {% include 'icon-errors' %} 
                    <span class="input-error-message">{{ 'general.accessibility.error' | t }}</span>
                </span>
            </div>    
            <div class="box-submit text-center">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn_light_second">
              <p class="p-small back_to_store">
                <a href="/">{{ 'customer.register.back_to_home' | t  }}</a>
              </p>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
