<div class="page-width grid-flex">
  <div class="grid">
    <div class="grid__item col-8 col-md-6 col-small-6">
      <div class="section-header">
        <div class="form-vertical CustomerLoginForm">
          {% form 'reset_customer_password' %}

            <h1 class="text-center h2">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center RecoverPasswordForm">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" placeholder="{{ 'customer.reset_password.password' | t }}" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
          <div class="box-submit text-center">
            <input type="submit" class="btn_light_second" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
          <div class="text-center">
            {{ 'customer.reset_password.need_help_html' | t }}
          </div>
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
