{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<section data-section-id="reset-password" data-section-type="reset-password">
  <div class="Container">
    <div class="PageContent PageContent--fitScreen PageContent--extraNarrow">
      {%- form 'reset_customer_password', name: 'activate', class: 'Form Form--spacingTight', id: 'reset_customer_password' -%}
        <header class="Form__Header">
          <h1 class="Form__Title Heading u-h1">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.title' | t }}{% endcapture %}{% include 'ly-static-string' with '16347003' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
          <p class="Form__Legend">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.description' | t }}{% endcapture %}{% include 'ly-static-string' with '16347004' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        </header>

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="Form__Item">
          <input type="password" class="Form__Input" name="customer[password]" aria-label="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password' | t }}{% endcapture %}{% include 'ly-static-string' with '16347005' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password' | t }}{% endcapture %}{% include 'ly-static-string' with '16347005' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autofocus>
          <label class="Form__FloatingLabel">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password' | t }}{% endcapture %}{% include 'ly-static-string' with '16347005' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
        </div>

        <div class="Form__Item">
          <input type="password" class="Form__Input" name="customer[password_confirmation]" aria-label="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password_confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password_confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '16347006' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password_confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password_confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '16347006' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
          <label class="Form__FloatingLabel">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password_confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password_confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '16347006' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '16347007' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
      {%- endform -%}
    </div>
  </div>
</section>