<div class="page-width">
  
  <div class="grid ">
    {% if section.settings.title != blank %}
      <div class="grid__item col-4 col-md-3-ex col-small-3">
        <div class="grid__item__title">
          <h2 class="h2">{{ section.settings.title | escape }}</h2>
          {% if section.settings.label_button != blank and section.settings.link != blank %}
            <a href="{{section.settings.link }}" class="btn_light btn_light_large"> {{section.settings.label_button}} </a>
          {% endif %}
      </div>
      </div>
    {% endif %}
    {%- assign max_height = 632 -%}
    {% for block in section.blocks %}
      <div class="grid__item col-4 col-md-3-ex col-small-3" {{ block.shopify_attributes }}>
        <div class="grid__item__inner">
    
          {% if block.settings.image != blank %}
            {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
            {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style', image: block.settings.image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
              <div data-image-loading-animation>
                <img id="{{ img_id }}"
                     class="feature-row__image lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ block.settings.image.alt | escape }}">
              </div>
              {% if block.settings.button_label != blank and block.settings.button_link != blank %}
              {%- capture ariaLabel -%}
                {{- block.settings.button_label -}}
                {%- if block.settings.button_link.type == 'frontpage_link' -%}
                  : {{ 'homepage.general.title' | t -}}
                {%- elsif block.settings.button_link.type == 'catalog_link' -%}
                  : {{ 'collections.catalog.title' | t -}}
                {%- elsif block.settings.button_link.object.title -%}
                  : {{ block.settings.button_link.object.title -}}
                {%- endif -%}
              {%- endcapture -%}

              <a href="{{ block.settings.button_link }}"
                class="h3"
                aria-label="{{ ariaLabel | escape }}">
                <span>{{- block.settings.button_label | escape -}}</span>
              </a>
            {% endif %}
            </div>
            <noscript>
              <p>
                {{ block.settings.image | img_url: '316x316', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
              </p>
            </noscript>
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
      
        </div>
      </div>
    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "eco-certified bras",
  "class": "index-section bras-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Text. sloupce s obrázky",
        "da": "Tekstkolonner med billeder",
        "de": "Textspalten mit Fotos",
        "en": "Text columns with images",
        "es": "Columnas de texto con imágenes",
        "fi": "Tekstisarakkeet kuvilla",
        "fr": "Colonnes de texte et images",
        "it": "Colonne di testo con foto",
        "ja": "画像付きテキスト列",
        "ko": "이미지 포함 텍스트 열",
        "nb": "Tekstkolonner med bilder",
        "nl": "Tekstkolommen met afbeeldingen",
        "pl": "Kolumny tekstowe z obrazami",
        "pt-BR": "Texto em coluna com imagens",
        "pt-PT": "Colunas texto c/ imagens",
        "sv": "Textkolumner med bilder",
        "th": "คอลัมน์ข้อความพร้อมรูปภาพ",
        "tr": "Görsel içeren metin sütunları",
        "vi": "Cột văn bản có hình ảnh",
        "zh-CN": "带有图片的文本列",
        "zh-TW": "附圖片的文字欄"
      }
    },
    {
      "type": "text",
      "id": "label_button",
      "label": "Label button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link button"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": {
        "cs": "Sloupec",
        "da": "Kolonne",
        "de": "Spalte",
        "en": "Column",
        "es": "Columna",
        "fi": "Sarake",
        "fr": "Colonne",
        "it": "Colonna",
        "ja": "列",
        "ko": "칼럼",
        "nb": "Kolonne",
        "nl": "Kolom",
        "pl": "Kolumna",
        "pt-BR": "Coluna",
        "pt-PT": "Coluna",
        "sv": "Kolumn",
        "th": "คอลัมน์",
        "tr": "Sütun",
        "vi": "Cột",
        "zh-CN": "列",
        "zh-TW": "欄"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "cs": "Text tlačítka",
            "da": "Knaptekst",
            "de": "Button-Name",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pl": "Przycisk z etykietą",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "tr": "Düğme etiketi",
            "vi": "Nhãn nút",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "cs": "Tlačítkový odkaz",
            "da": "Knaplink",
            "de": "Button-Link",
            "en": "Button link",
            "es": "Enlace de botón",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "it": "Link pulsante",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pl": "Link przycisku",
            "pt-BR": "Link de botão",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "tr": "Düğme bağlantısı",
            "vi": "Liên kết trên nút",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "eco-certified bras",
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
