{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- assign product = all_products[section.settings.product] -%}

{%- capture section_settings -%}
{
  "enableHistoryState": <ly-as-16346605>false</ly-as-16346605>,
  "usePlaceholder": {% if product == empty %}<ly-as-16346604>true</ly-as-16346604>{% else %}<ly-as-16346605>false</ly-as-16346605>{% endif %},
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {{ section.settings.show_inventory_quantity | json }},
  "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
  "showPriceInButton": {{ section.settings.show_price_in_button | json }},
  "showPaymentButton": {{ section.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}<ly-as-16346604>true</ly-as-16346604>{% else %}<ly-as-16346605>false</ly-as-16346605>{% endif %}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="featured-product" data-section-settings='{{ section_settings }}'>
  <div class="Container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center {% unless section.settings.show_headings_on_mobile %}hidden-phone{% endunless %}">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="FeaturedProduct {% if section.settings.show_description == false or product.description == blank %}FeaturedProduct--center{% endif %}">
      {%- if product != empty -%}
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PRODUCT GALLERY
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if product.images.size > 0 -%}
          <a href="{{ product.url }}" class="FeaturedProduct__Gallery">
            {%- include 'image-size', sizes: '200,300,400,600,700,800,900,1000', image: product.featured_image -%}

            <div class="AspectRatio" style="max-width: {{ product.featured_image.width }}px; --aspect-ratio: {{ product.featured_image.aspect_ratio }}">
              {% assign image_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

              <img class="Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_image.alt | escape }}">
              <span class="Image__Loader"></span>

              <noscript>
                <img src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
              </noscript>
            </div>
          </a>
        {%- endif -%}

        <div class="FeaturedProduct__Info">
          {%- include 'product-meta', show_description: section.settings.show_description -%}

          {%- if product.template_suffix != 'coming-soon' -%}
            {%- include 'product-form' -%}
          {%- endif -%}

          {%- if section.settings.show_description and section.settings.description_below_add_to_cart -%}
            <div class="ProductMeta__Description Rte">
              {% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            </div>
          {%- endif -%}

          <div class="FeaturedProduct__ViewWrapper">
            <a href="{{ product.url }}" class="Link Link--underline">{% comment %}ly_i18n_replace_for_[ 'home_page.featured_product.view_product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.featured_product.view_product' | t }}{% endcapture %}{% include 'ly-static-string' with '16346609' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </div>
        </div>
      {%- else -%}
        {%- comment -%}
        --------------------------------------------------------------------------------------------------------------------
        PLACEHOLDER WHEN NO PRODUCT IS SELECTED
        --------------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="FeaturedProduct__Gallery">
          {{ 'product-1' | placeholder_svg_tag }}
        </div>

        <div class="FeaturedProduct__Info">
          <div class="ProductMeta">
            {%- if section.settings.show_vendor -%}
              <h2 class="ProductMeta__Vendor Heading u-h6">{% comment %}ly_i18n_replace_for_[ 'home_page.onboarding.vendor_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.onboarding.vendor_title' | t }}{% endcapture %}{% include 'ly-static-string' with '16346610' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
            {%- endif -%}
            <h2 class="ProductMeta__Title Heading u-h2"><a href="{{ collection.url }}">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h2>
            <h1 class="ProductMeta__Title Heading u-h2">{% comment %}ly_i18n_replace_for_[ 'home_page.onboarding.product_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.onboarding.product_title' | t }}{% endcapture %}{% include 'ly-static-string' with '16346611' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

            <div class="ProductMeta__PriceList Heading">
              <span class="ProductMeta__Price Price Text--subdued u-h4" data-money-convertible>{{ 4500 | money_without_trailing_zeros }}</span>
            </div>

            {%- if section.settings.show_description and section.settings.show_description_after_add_to_cart == false -%}
              <div class="ProductMeta__Description Rte">
                {% comment %}ly_i18n_replace_for_[ 'home_page.onboarding.product_description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.onboarding.product_description' | t }}{% endcapture %}{% include 'ly-static-string' with '16346612' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </div>
            {%- endif -%}
          </div>

          <div class="ProductForm">
            {%- if section.settings.show_inventory_quantity -%}
              <p class="ProductForm__Inventory Text--subdued">
                {%- if section.settings.inventory_quantity_threshold == 0 -%}
                  {% comment %}ly_i18n_replace_for_[ 'product.form.inventory_quantity_count' | t: count: 5 ]_begin{% endcomment %}{% if 5  == 0 %}{% capture ly_template %}{{ 'product.form.inventory_quantity_count' | t: count: 5 }}{% endcapture %}{% include 'ly-static-string' with '16346614' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 5  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 5  == 1 %}{% capture ly_template %}{{ 'product.form.inventory_quantity_count' | t: count: 5 }}{% endcapture %}{% include 'ly-static-string' with '16346613' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 5  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 5  == 2 %}{% capture ly_template %}{{ 'product.form.inventory_quantity_count' | t: count: 5 }}{% endcapture %}{% include 'ly-static-string' with '16346614' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 5  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'product.form.inventory_quantity_count' | t: count: 5 }}{% endcapture %}{% include 'ly-static-string' with '16346614' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 5  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                {%- else -%}
                  {% comment %}ly_i18n_replace_for_[ 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold ]_begin{% endcomment %}{% if section.settings.inventory_quantity_threshold  == 0 %}{% capture ly_template %}{{ 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold }}{% endcapture %}{% include 'ly-static-string' with '16346618' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = section.settings.inventory_quantity_threshold  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif section.settings.inventory_quantity_threshold  == 1 %}{% capture ly_template %}{{ 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold }}{% endcapture %}{% include 'ly-static-string' with '16346617' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = section.settings.inventory_quantity_threshold  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif section.settings.inventory_quantity_threshold  == 2 %}{% capture ly_template %}{{ 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold }}{% endcapture %}{% include 'ly-static-string' with '16346618' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = section.settings.inventory_quantity_threshold  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'product.form.low_inventory_quantity_count' | t: count: section.settings.inventory_quantity_threshold }}{% endcapture %}{% include 'ly-static-string' with '16346618' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = section.settings.inventory_quantity_threshold  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                {%- endif -%}
              </p>
            {%- endif -%}

            <button type="button" class="ProductForm__AddToCart Button Button--primary Button--full">
              <span>{% comment %}ly_i18n_replace_for_[ 'product.form.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'product.form.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '16346621' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>

              {%- if section.settings.show_price_in_button -%}
                <span class="Button__SeparatorDot"></span>
                <span data-money-convertible>{{ 4500 | money_without_trailing_zeros }}</span>
              {%- endif -%}
            </button>
          </div>

          {%- if section.settings.show_description and section.settings.show_description_after_add_to_cart -%}
            <div class="ProductMeta__Description Rte">
              {% comment %}ly_i18n_replace_for_[ 'home_page.onboarding.product_description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.onboarding.product_description' | t }}{% endcapture %}{% include 'ly-static-string' with '16346612' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            </div>
          {%- endif -%}

          <div class="FeaturedProduct__ViewWrapper">
            <a href="#" class="Link Link--underline">{% comment %}ly_i18n_replace_for_[ 'home_page.featured_product.view_product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'home_page.featured_product.view_product' | t }}{% endcapture %}{% include 'ly-static-string' with '16346609' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  OFF SCREEN ELEMENTS
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {{ product_popovers }}
  {{ product_modals }}
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "checkbox",
      "id": "show_headings_on_mobile",
      "label": "Show headings on mobile",
      "default": true
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "description_below_add_to_cart",
      "label": "Description below add to cart",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_carousel",
      "label": "Show color carousel",
      "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_size_swatch",
      "label": "Show size swatch",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
      "default": false
    },
    {
      "type": "range",
      "id": "inventory_quantity_threshold",
      "label": "Inventory quantity threshold",
      "min": 0,
      "max": 50,
      "step": 1,
      "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_price_in_button",
      "label": "Show price in add to cart button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured product"
    }
  ]
}
{% endschema %}