{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- if template.name == 'page' or template.name == 'blog' or template == 'customers/account' or template == 'customers/order' or template == 'customers/addresses' -%}
  {%- assign add_top_margin = true -%}
{%- else -%}
  {%- assign add_top_margin = false -%}
{%- endif -%}

<footer id="section-{{ section.id }}" class="Footer {% if section.blocks.size <= 2 %}Footer--center{% endif %} {% if add_top_margin %}Footer--withMargin{% endif %}" role="contentinfo">
  <div class="Container">
    {%- if section.blocks.size > 0 -%}
      <div class="Footer__Inner">
        {%- for block in section.blocks -%}
          <div class="Footer__Block Footer__Block--{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="Footer__Content Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}

                <div class="Footer_Buttons">
                {%- if block.settings.button_catalog != blank -%}
                  <a href="{{ block.settings.button_link_catalog }}" target="_blank" class="Button Button--primary">{{ block.settings.button_catalog | escape }}</a>
                {%- endif -%}

                {%- if block.settings.become_vip != blank -%}
                  <a href="{{ block.settings.become_vip_link }}" target="_blank" class="Button Button--primary Become_VIP">{{ block.settings.become_vip | escape }}</a>
                {%- endif -%}
                </div>
            
              {%- when 'socials' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.show_social_media -%}
                  {% include 'social-media-new', class: 'Footer__Social', spacing: 'loose' %}
                {%- endif -%}
           
                
              {%- when 'links' -%}
                {%- assign linklist = linklists[block.settings.menu] -%}

                {%- if linklist != empty -%}
                  <h2 class="Footer__Title Heading u-h6">{% comment %}ly_code_replace_for_[ linklist.title | escape ]_begin{% endcomment %}{% include 'ly-title' with linklist %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</h2>

                  <ul class="Linklist">
                    {%- for link in linklist.links -%}
                      <li class="Linklist__Item">
                        <a href="{{ link.url }}" class="Link Link--primary">{% comment %}ly_code_replace_for_[ link.title | escape ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                
              {%- when 'newsletter' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="Footer__Title Heading u-h6">{{ block.settings.title | escape }}</h2>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="Footer__Content Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}
           

                {%- form 'customer', id: 'footer-newsletter', class: 'Footer__Newsletter Form' -%}
                  {%- if form.posted_successfully? -%}
                    <p class="Form__Alert Alert Alert--success">{% comment %}ly_i18n_replace_for_[ 'footer.newsletter.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'footer.newsletter.success' | t }}{% endcapture %}{% include 'ly-static-string' with '16346630' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
                  {%- else -%}
                    {%- if form.errors -%}
                      <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
                    {%- endif -%}

                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" name="contact[email]" class="Form__Input" oninvalid="this.setCustomValidity('請填寫此字段')" aria-label="{% comment %}ly_i18n_replace_for_[ 'footer.newsletter.input' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'footer.newsletter.input' | t }}{% endcapture %}{% include 'ly-static-string' with '16346631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'footer.newsletter.input' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'footer.newsletter.input' | t }}{% endcapture %}{% include 'ly-static-string' with '16346631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" required>
                    <button type="submit" class="Form__Submit Button Button--primary">{% comment %}ly_i18n_replace_for_[ 'footer.newsletter.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'footer.newsletter.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '16346632' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</button>
                  {%- endif -%}
                {%- endform -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="Footer__Aside">
      <div class="Footer__Copyright">
      <div class="Copyright_desktop Footer__StoreName Heading u-h7 Link Link--secondary">
    	<span><ly-as-17006470>© 2019 FRANCFRANC 香港公司，版權為為本公司所擁有。</ly-as-17006470></span> <br>
        <span><ly-as-17006470>使用本網站代表您接受FRANCFRANC網站的所有條款所有條款和隱私權聲明</ly-as-17006470>ly-as-17006470></span>
<!--     	<span><ly-as-17006471>使用本網站代表您接受FRANCFRANC網站的所有條款所有條款</ly-as-17006471></span><a href="/pages/terms-and-conditions" target="_blank" ><ly-as-17006472>所有條款</ly-as-17006472></a><span>和</span><a href="/pages/privacy-policy" target="_blank"><ly-as-17006473>私隱政策。</ly-as-17006473></a></span> -->
	  </div>
      <div class="Copyright_mobile Footer__StoreName Heading u-h7 Link Link--secondary">
<!--         <span><ly-as-17006474>© 2019 FRANCFRANC 香港公司，版權為為本公司所擁有。 使用本網站代表您接受FRANCFRANC網站的所有條款所有條款和隱私權聲明</ly-as-17006474></span><span><a href="/pages/terms-and-conditions" target="_blank" ><ly-as-17006472>所有條款</ly-as-17006472></a><span>和</span><a href="/pages/privacy-policy" target="_blank"><ly-as-17006473>私隱政策。</ly-as-17006473></a></span> -->
        
    	<span><ly-as-17006470>© 2019 FRANCFRANC 香港公司，版權為為本公司所擁有。</ly-as-17006470></span>
        <span><ly-as-17006470>使用本網站代表您接受FRANCFRANC網站的所有條款所有條款和隱私權聲明</ly-as-17006470>ly-as-17006470></span>
      </div>
        {%- capture powered_by_link -%}{{ powered_by_link | replace: '<a', '<a class="Link Link--primary"' }}{%- endcapture -%}
        
      </div>

      {%- if section.settings.show_payment_methods -%}
        {%- capture payment_methods -%}
          {%- for type in shop.enabled_payment_types -%}
            <li class="HorizontalList__Item">{{ type | payment_type_svg_tag }}</li>
          {%- endfor -%}
        {%- endcapture -%}

        {%- if payment_methods != blank -%}
          <ul class="Footer__PaymentList HorizontalList">
            {{ payment_methods }}
          </ul>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "Show payment methods",
      "info": "Payment method icons are automatically displayed based on your Shopify payment methods.",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About the shop"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
        },
        {
          "type": "text",
          "id": "button_catalog",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_catalog",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "become_vip",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "become_vip_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    },
	{
      "type": "socials",
      "name": "Socials",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "OFFICIAL SNS"
        },
        {
          "type": "checkbox",
          "id": "show_social_media",
          "label": "Show social media",
          "info": "Make sure to have properly configured your social media in the theme settings.",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}

<script>

  $(document).ready(function(){
    $(".CollectionToolbar__Item--filter").click(function(){
      console.log("click");
      $(".Drawer__Main").children(".Collapsible").first().children(".Collapsible__Button[aria-expanded='false']").click();
    })
  })

</script>

<style>
  #stamped-button-submit{
    float: initial;
    border: 1px solid;
    padding: 5px 10px;
    margin-left: 10px;
    min-height: 30px;
    text-decoration: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  .qrcode.first{
  	margin-left:-12px;
  }
  .Footer__Inner{
    position:relative;
  }
  .qrcode.second img{
  	position:absolute;
    right:27%;
    display:block;
  }
  @media only screen and (max-width: 767px) {
  .qrcode.second img{
    display:none!important;
  }  
}
  
  @media only screen and (max-width: 1024px) {
  .qrcode.second img{
  	position: absolute;
    right: 35%!important;
    width: 18%!important;
    top: 10%!important;
  }  
}
</style>
<script data-cfasync="false">window.ju_num="93DCD489-0C3C-4859-85BE-6A8F5A7CF984";window.asset_host='//cdn.justuno.com/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6689553.js"></script>
<!-- End of HubSpot Embed Code -->