<div class="block-radical">
    <div class="page-width">
        <div class="grid">
            {% if section.settings.title %}
            <div class="grid__item col-5 col-md-4">
                <div class="title-btns">
                    <h2 class="h1 slide-up">{{ section.settings.title }}</h2>
                    {% if section.settings.button_url != blank %}
                        <div class="import-buton col-7">
                            <a href="{{ section.settings.button_url }}" target="_blank" class="btn_light_second_outline slide-up">
                                <span class="im-ico">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.5012 15.3828C18.2473 15.3828 18.0477 15.5819 18.0477 15.8352V17.6447C18.0205 17.9252 17.7757 18.1242 17.4945 18.0971H1.46014C1.179 18.1242 0.934129 17.9252 0.906921 17.6447V15.8352C0.906921 15.5819 0.707399 15.3828 0.453461 15.3828C0.199523 15.3828 0 15.5819 0 15.8352V17.6447C0.0272076 18.4228 0.680191 19.029 1.46014 19.0019H17.4945C18.2745 19.0561 18.9456 18.459 19 17.6809C19 17.6719 19 17.6538 19 17.6447V15.8352C19 15.5819 18.8005 15.3828 18.5465 15.3828C18.5284 15.3828 18.5193 15.3828 18.5012 15.3828Z" fill="black"/>
                                        <path d="M9.16037 15.8695C9.32361 16.0414 9.60476 16.0505 9.77707 15.8876C9.78614 15.8786 9.78614 15.8786 9.79521 15.8695L15.5451 10.1424C15.7174 9.96143 15.7174 9.68095 15.5451 9.5C15.3728 9.31905 15.0826 9.31905 14.9012 9.5L9.93125 14.4762V0.452381C9.93125 0.199048 9.73173 0 9.47779 0C9.22385 0 9.02433 0.199048 9.02433 0.452381V14.4762L4.0544 9.5C3.88209 9.31905 3.59187 9.31905 3.41049 9.5C3.23817 9.68095 3.23817 9.96143 3.41049 10.1424L9.16037 15.8695Z" fill="black"/>
                                    </svg>
                                </span>
                                <span>
                                    {{ section.settings.button_label | default: 'impact report 2021'  }}
                                </span>
                            </a>
                        </div>

                    {% endif %}
                </div>
                <div id="test">&nbsp;</div>
            </div>
            {% endif %}
            {% if section.blocks.size > 0 %}
            <div class="grid__item col-6 col-md-4">
                <div class="block-items-list">
                    <div id="block-items-list">
                    {% for block in section.blocks %}
                        <div class="block-item">
                            {% if block.settings.title != blank %}
                                <h3 class="h3">{{ block.settings.title }}</h3>
                            {% endif %}
                            {% if block.settings.desc != blank %}
                            <div class="p-large">{{ block.settings.desc }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>    
            {% endif %}
        </div>
    </div>
</div>        

{% schema %}
{
  "name": "our 2022 key targets",
  "class": "scientifically-measured-block07",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "our 2022 key targets"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
    }
  ],
  "blocks": [
    {
      "type": "Block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}