<div class="block-radical block-radical-collection block-radical-collection-v1">
    <div class="page-width">
        {% if section.blocks.size > 0 %}
            {% assign leftHTML = '' %}
            {% assign hasIconHTML = '' %}
            {% capture rightHTML %}
                {% for block in section.blocks %}
                    <div class="item swiper-slide" data-hash="slide{{ forloop.index }}">
                        {% if block.settings.banner != blank %}
                        <div class="img-banner">
                            <img  class="lazyload" data-src="{{ block.settings.banner | img_url:'426x510', crop:'center' }}" src="{{ block.settings.banner | img_url:'2x' }}" alt="{{ block.settings.banner.alt }}">
                        </div>
                        {% endif %}
                        
                    </div>
                    {% capture leftInfo %}
                        <div class="more-info swiper-slide">
                            {% if block.settings.title != blank %}
                            <div class="item-title">
                                <h3 class="h4">{{ block.settings.title }} </h3>
                                {% if block.settings.sub_title != blank %}
                                    <p class="p-large">{{ block.settings.sub_title }} </p>
                                {% endif %}
                            </div>
                            {% endif %}
                            <ul>
                                {% if block.settings.text1 != blank %}
                                    <li>
                                        <span class="img-banner {{ block.settings.icon1 }}"></span>
                                        <span>{{  block.settings.text1 }}</span>
                                    </li>
                                {% endif %}
                                {% if block.settings.text2 != blank %}
                                    <li>
                                        <span class="img-banner {{ block.settings.icon2 }}"></span>
                                        <span>{{  block.settings.text2 }}</span>
                                    </li>
                                {% endif %}
                                {% if block.settings.text3 != blank %}
                                    <li>
                                        <span class="img-banner {{ block.settings.icon3 }}"></span>
                                        <span>{{  block.settings.text3 }}</span>
                                    </li>
                                {% endif %}
                                {% if block.settings.text4 != blank %}
                                    <li>
                                        <span class="img-banner {{ block.settings.icon4 }}"></span>
                                        <span>{{  block.settings.text4 }}</span>
                                    </li>
                                {% endif %}
                                {% if block.settings.text5 != blank %}
                                    <li>
                                        <span class="img-banner {{ block.settings.icon5 }}"></span>
                                        <span>{{  block.settings.text5 }}</span>
                                    </li>
                                {% endif %}
                                <li class="designed_with-fix"><p class="designed_with h6">{{ section.settings.designed_with }}</p></li>
                            </ul>
                        </div>
                    {% endcapture %}
                    {% capture hashIcon %}
                    <li>
                        <a href="#slide{{ forloop.index }}" {% if forloop.index ==1 %} class="active" {% endif %} >
                            {% if block.settings.hasicon != blank %}
                            <img  class="lazyload" data-src="{{ block.settings.hasicon | img_url:'80x80' }}" src="{{ block.settings.hasicon| img_url:'2x' }}" alt="{{ block.settings.hasicon.alt }}">
                            {% else %}
                            slide{{ forloop.index }}
                            {% endif %}
                        </a>
                    </li>
                    {% endcapture %}
                    {% assign hasIconHTML = hasIconHTML | append: hashIcon  %}
                    {% assign leftHTML = leftHTML | append: leftInfo  %}
                {% endfor %}
            {% endcapture %}
            <div class="grid__item__title slide-up" >
                {% if section.settings.title != blank %}
                    <h2 class="h1">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}
            </div>
            <div class="block-radical-items">
                <div class="grid">
                    <div class="grid__item col-7 col-md-4">
                        {% if section.settings.title != blank %}
                            <h2 class="h1 title__desktop slide-up">
                                {{ section.settings.title }}
                                {% if section.settings.sub_title != blank %}<br/>
                                    <span>{{section.settings.sub_title}}</span>
                                {% endif %}
                            </h2>
                        {% endif %}
                        <div thumbsSlider="" class="swiper-container radicalThumb slide-up">
                            <div class="swiper-wrapper"> {{ leftHTML }} </div>
                        </div>
                        
                    </div>
                    <div class="grid__item col-4 col-md-4">
                        <div class="radicalSliderOuter slide-up">
                            <div class="swiper-container radicalSlider">
                                <div class="swiper-wrapper"> {{ rightHTML }} </div>
                            </div>
                            <div class="swiper-button-prev-r swiper-button">
                                {% include 'ico-prev' %}
                            </div>
                            <div class="swiper-button-next-r swiper-button">
                                {% include 'ico-next' %}
                            </div>
                        </div>
                        <ul class="hashicons col-small-4">
                            {{ hasIconHTML }}

                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% schema %}
{
  "name": "our 100% éco yarn",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "our 100% éco yarn"
    },
    {
      "type": "text",
      "id": "designed_with",
      "label": "designed with",
      "default": "vs conventional materials"
    }
  ],
  "blocks": [
    {
      "type": "Block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": "Banner"
        },
       
        {
          "type": "header",
          "content": "More Info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub"
        },
        {
          "type": "select",
          "id": "icon1",
          "label": "icon1",
          "options": [
            {
              "value": "icon-co2",
              "label": "CO2"
            },
            {
              "value": "icon-h2o",
              "label": "H20"
            },
            {
              "value": "icon-chemical",
              "label": "Chemical"
            }
          ],
          "default": "icon-co2"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "text1"
        },
        {
          "type": "select",
          "id": "icon2",
          "label": "icon2",
          "options": [
            {
              "value": "icon-co2",
              "label": "CO2"
            },
            {
              "value": "icon-h2o",
              "label": "H20"
            },
            {
              "value": "icon-chemical",
              "label": "Chemical"
            }
          ],
          "default": "icon-co2"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "text2"
        },
        {
          "type": "select",
          "id": "icon3",
          "label": "icon3",
          "options": [
            {
              "value": "icon-co2",
              "label": "CO2"
            },
            {
              "value": "icon-h2o",
              "label": "H20"
            },
            {
              "value": "icon-chemical",
              "label": "Chemical"
            }
          ],
          "default": "icon-co2"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "text3"
        },
        {
          "type": "select",
          "id": "icon4",
          "label": "icon4",
          "options": [
            {
              "value": "icon-co2",
              "label": "CO2"
            },
            {
              "value": "icon-h2o",
              "label": "H20"
            },
            {
              "value": "icon-chemical",
              "label": "Chemical"
            }
          ],
          "default": "icon-co2"
        },
        {
          "type": "text",
          "id": "text4",
          "label": "text4"
        },
        {
          "type": "select",
          "id": "icon5",
          "label": "icon5",
          "options": [
            {
              "value": "icon-co2",
              "label": "CO2"
            },
            {
              "value": "icon-h2o",
              "label": "H20"
            },
            {
              "value": "icon-chemical",
              "label": "Chemical"
            }
          ],
          "default": "icon-co2"
        },
        {
          "type": "text",
          "id": "text5",
          "label": "text5"
        },
        {
          "type": "header",
          "content": "Hash icon"
        },
        {
          "type": "image_picker",
          "id": "hasicon",
          "label": "Hash icon"
        }
      ]
    }
  ]
}
{% endschema %}