<div class="static-pages">
{% section 'banner' %}
<div class="page-width contact-page">
  <div class="grid">
    <div class="grid__item col-8 col-md-6">
      <div class="section-header text-center">
        <h1 class="h2">{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
        <div class="p-medium rte">
          {{ page.content }}
        </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        <h4 class="h4 text-center"> {{ 'contact.form.title' | t  }}</h4>
        {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

             <div class="field">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                type="email"
                placeholder="{{ 'contact.form.email' | t }}"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
              {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
            </div>
            <div class="field">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input placeholder="{{ 'contact.form.name' | t }}" type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="field select-field">
              <select name="contact[reason]">
                <option>{{ 'contact.form.request_type' | t }}</option>
                <option value="{{ 'contact.form.option1' | t }}">{{ 'contact.form.option1' | t }}</option>
                <option value="{{ 'contact.form.option2' | t }}">{{ 'contact.form.option2' | t }}</option>
                <option value="{{ 'contact.form.option3' | t }}">{{ 'contact.form.option3' | t }}</option>
                <option value="{{ 'contact.form.option4' | t }}">{{ 'contact.form.option4' | t }}</option>
                <option value="{{ 'contact.form.option5' | t }}">{{ 'contact.form.option5' | t }}</option>
              </select>
            </div>
            

          <div class="field">
            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
            <textarea maxlength="1000" placeholder="{{ 'contact.form.message' | t }}" rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            <p class="p-xsmall text-right">1000/1000</p>
          </div>
          <div class="submit-field">
            <input type="submit" class="btn_light_second" value="{{ 'contact.form.submit' | t }}">
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
